<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>페이지 레이아웃 예시 페이지</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet"  href="/css/style.css" />
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
	<header>
		<div class="container-fluid bg-dark d-flex justify-content-end">
			<nav class="navbar navbar-expand-lg">
				<div class="container-fluid">
					<div class="collapse navbar-collapse" id="navbarNavDropdown">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link text-light" aria-current="page" href="#">마이페이지</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-light" href="#">로그인</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<div class="container-fluid position-relative d-flex justify-content-center py-5">
			<!-- 로고 -->
			<div class="position-absolute" style="top: 1.5rem; left: 3rem;">
	          <a href="/" class="d-block w-100">
	            <img src="/images/logo.png" alt="Logo" width="140" height="100">
	          </a>
			</div>
	        <!-- 검색바 -->
	        <form class="w-50" role="search">
	          <input type="search" class="form-control" placeholder="검색어를 입력하세요." aria-label="Search">
	        </form>			
		</div>
	</header>
	<main>
		<div class="container-fluid">22</div>
	</main>
	<footer>
		<div class="container-fluid">
			<div class="d-flex align-items-center justify-content-center column-gap-5">
				<div class="d-block">
					<img src="/images/footerlogo.jpg" alt="Footer Logo" width="140" height="100">
				</div>
				<div class="w-50">
					<p><strong>(주)빌드이지</strong></p>
					<p>주소: 서울특별시 강남구 언주로 508 14층 (역삼동, 서울상록빌딩) 대표: 김기현, 나경수, 이미은, 정병국, 황혜령</p>
					<p>사업자번호: 104-81-53114 | 통신판매업: 제2016-서울강남-00151호 | 부가통신사업: 제112233호 <a href="#">[사업자정보확인]</a></p>
					<p>(주)빌드이지는 상품판매와 직접적인 관련이 없으며, 모든 상거래의 책임은 구매자와 판매자에게 있습니다. 이에 대해 (주)빌드이지는 일체의 책임을 지지 않습니다. 본사에 등록된 모든 광고와 저작권 및 법적책임은 자료제공사 (또는 글쓴이)에게 있으므로 본사는 광고에 대한 책임을 지지 않습니다.</p>
					<p class="text-muted small">Copyright © buildeasy Co., Ltd. All Rights Reserved.</p>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>