<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 목록</title>
    <link rel="stylesheet" href="/css/product/productCategory.css">
</head>
<body>
	
	<h1>CPU</h1>
    <!-- 필터 UI -->
    <form id="filter-form">
    <!-- 제조사 -->
    <div>
        <h3>제조사</h3>
        <label><input type="checkbox" name="manufacturer" value="인텔"> 인텔</label><br>
        <label><input type="checkbox" name="manufacturer" value="AMD"> AMD</label>
    </div>

    <!-- 인텔 CPU 종류 -->
    <div>
        <h3>인텔 CPU 종류</h3>
        <label><input type="checkbox" name="intelCpu" value="울트라 9"> 울트라 9</label><br>
        <label><input type="checkbox" name="intelCpu" value="코어 i7"> 코어 i7</label>
    </div>

    <!-- AMD CPU 종류 -->
    <div>
        <h3>AMD CPU 종류</h3>
        <label><input type="checkbox" name="amdCpu" value="라이젠7"> 라이젠7</label><br>
        <label><input type="checkbox" name="amdCpu" value="라이젠9"> 라이젠9</label>
    </div>

    <!-- 소켓 구분 -->
    <div>
        <h3>소켓 구분</h3>
        <label><input type="checkbox" name="socket" value="인텔(소켓1851)"> 인텔(소켓1851)</label><br>
        <label><input type="checkbox" name="socket" value="인텔(소켓1700)"> 인텔(소켓1700)</label>
    </div>
	</form>
	<!-- 세개의 탭 -->
	<div class="tabs">
    	<button class="tab-button" data-sort="newest">신상품 순</button>
    	<button class="tab-button" data-sort="low-price">낮은 가격순</button>
    	<button class="tab-button" data-sort="high-price">높은 가격순</button>
	</div>

    <div class="product-list">
        <!-- 상품을 반복적으로 렌더링 -->
        <div class="product-item" th:each="cpu, iterStat : ${cpus}">
            <div class="product-image">
    		<!-- 제품 ID를 기반으로 이미지 파일을 동적으로 설정 -->
    			<img th:src="@{'/images/product/cpu/' + 'cpu' + (${cpu != null && cpu.cpuId != null ? cpu.cpuId : 'default'}) + '.png'}" 
         				alt="Product Image" style="width:120px; height:120px;">
			</div>
            <div class="product-info">
            	<a href="@{/cpuproducts/${cpu.cpuId}}">
    				<h2 class="product-name" th:text="${cpu.productName}"></h2>
    			</a>
    			<p th:text="'제조사: ' + ${cpu.manufacturer} + ', CPU 종류: ' + ${cpu.productName} + ', 소켓: ' + ${cpu.socket} + ', 코어: ' + ${cpu.coreTypes} + ', 메모리: ' + ${cpu.supportedMemoryStandard}"></p>
				<p th:text="${cpu.formattedReleaseDate}"></p>
		
			</div>
            <div class="product-price">
                <p th:text="${cpu.formattedPrice}"></p>
                <form action="/cart/add" method="post">
                    <input type="hidden" name="cpuId" th:value="${cpu.cpuId}">
                    <button type="submit">장바구니</button>
                </form>
            </div>
        </div>
    </div>
    <script src="/js/product/cpuCategoryFilter.js"></script>
</body>
</html>
