<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script
	src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        fetch('/order/count?')
            .then(response => response.json())
            .then(data => {
                console.log(data);
                for (let status in data) {
                    document.getElementById("status-" + status).innerText = data[status];
                }
            })
            .catch(error => console.error('Error:', error));
    });
</script>
<script th:src="@{/js/editor.js}"></script>
<script type="module" th:src="@{/js/mylist.js}"></script>
<link rel="stylesheet" th:href="@{/css/my-detail.css}">
</head>
<body>
	<section layout:fragment="content" class="content-box d-flex"
		style="gap: 30px; padding-top: 30px;">
		<div class="text-center bg-body-secondary" style="width: 200px;">
			<h6
				class="m-0 py-3 border-bottom border-secondary-subtle text-body-emphasis">
				<a href="order">마이 페이지</a>
			</h6>
			<ul class="p-0 text-center">
				<li class="mt-2 text-body-emphasis"><a href="order">내 주문/배송</a></li>
				<li class="mt-2 text-body-emphasis"><a href="review">내 리뷰</a></li>
				<li class="mt-2 text-body-emphasis"><a href="qna">내 Q&A</a></li>
			</ul>
		</div>
		<div class="d-flex flex-column gap-3 w-100">
			<div>
				<h4 class="mb-3">주문/배송 내역</h4>
				<div class="d-flex justify-content-between gap-5">
					<div class="d-flex gap-2">
						<p>입금대기</p>
						<span id="status-입금대기" class="badge rounded-pill text-bg-info"></span>
					</div>
					<div class="d-flex gap-2">
						<p>결제완료</p>
						<span id="status-결제완료" class="badge rounded-pill text-bg-info"></span>
					</div>
					<div class="d-flex gap-2">
						<p>배송중</p>
						<span id="status-배송중" class="badge rounded-pill text-bg-info"></span>
					</div>
					<div class="d-flex gap-2">
						<p>배송완료</p>
						<span id="status-배송완료" class="badge rounded-pill text-bg-info"></span>
					</div>
					<div class="d-flex gap-2">
						<p>결제취소</p>
						<span id="status-취소" class="badge rounded-pill text-bg-info"></span>
					</div>
				</div>
			</div>
			<div class="my-content" id="myQAContent">
				<div>
                    <table class="table-type-a">
						<thead>
							<tr>
								<th>주문번호</th>
								<th>주문날짜</th>
								<th>상품명</th>
								<th>주문금액</th>
								<th>주문상태</th>
								<th>상세보기</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${#lists.isEmpty(orders)}">
								<td colspan="2">---- 구매내역이 없습니다. ----</td>
							</tr>
							<tr th:each="item : ${orders}"
								th:unless="${#lists.isEmpty(orders)}"
								th:classappend="${item.deliveryStatus == '취소' ? 'cancelled' : ''}">
								<td th:text="${item.orderId}" />
								<td th:text="${item.orderDate}" />
								<td th:text="${item.productName}" />
								<td th:text="${item.totalPrice}" />
								<td th:text="${item.deliveryStatus}" />
								<td>
									<button class="btn btn-primary detail-button"
										th:attr="data-order-id=${item.orderId}">상세보기</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div id="entityDetailContainer">
					<!-- 상세 내용 -->
				</div>
			</div>
		</div>
	</section>

</body>
</html>
