<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}">
<head>
<!-- Toast UI Editor CSS -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
<!-- Toast UI Editor JavaScript -->
<script
	src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>

<script th:src="@{/js/editor.js}"></script>
<script type="module" th:src="@{/js/mylist.js}"></script>
<link rel="stylesheet" th:href="@{/css/my-detail.css}">

<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section layout:fragment="content" class="content-box d-flex"
		style="gap: 30px; padding-top: 30px;">
		<div class="text-center bg-body-secondary" style="width: 200px;">
			<h6
				class="m-0 py-3 border-bottom border-secondary-subtle text-body-emphasis">
				<a href="order">마이 페이지</a>
			</h6>
			<ul class="p-0 text-center">
				<li class="mt-2 text-body-emphasis"><a href="order">내 주문/배송</a></li>
				<li class="mt-2 text-body-emphasis"><a href="review">내 리뷰</a></li>
				<li class="mt-2 text-body-emphasis"><a href="qna">내 Q&A</a></li>
			</ul>
		</div>
		<div class="my-content" id="myQAContent">
			<div>
				<table class="table-type-a">
					<thead>
						<tr>
							<th>문의일</th>
							<th>제목</th>
							<th>답변상태</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${#lists.isEmpty(qnas)}">
							<td colspan="2">---- 작성한 Q&A가 없습니다. ----</td>
						</tr>

						<tr th:each="item : ${qnas}" th:unless="${#lists.isEmpty(qnas)}">
							<td th:text="${item.createdDate}" />
							<td class="my-title"
								th:attr="data-id=${item.qnaId}, data-type='qna'"
								style="cursor: pointer; max-width: 150px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
								th:text="${item.title}" />
							<td>
							<span
								th:style="'color: ' + (${item.answer == null} ? 'red' : 'green')">●</span>
							<span th:text="${item.answer == null ? '답변대기' : '답변완료'}" />
							</td>
						</tr>
					</tbody>
				</table>
				<div class="write-button">
					<a href="/qnas/new?source=my" class="btn btn-primary">문의하기</a>
				</div>
			</div>

			<div id="entityDetailContainer">
				<!-- 상세 내용 -->
			</div>
		</div>
	</section>
</body>
</html>