<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/auth-layout}">
<head>
	<title>관리자 인덱스</title>
	<script th:src="@{/js/chart.js}"></script>
	<script>
		document.addEventListener('DOMContentLoaded', function() {
			const year = new Date().getFullYear();
		    fetch(`/order/monthly-sales/${year}`)
	        .then(response => response.json())
	        .then(data => {
	            createMonthlySalesTable(data);
	            createMonthlySalesChart(data);
	        })
	        .catch(error => console.error('Error:', error));
		    
		    fetch('/order/count?')
	        .then(response => response.json())
	        .then(data => {
	            console.log(data);
	            for (let status in data) {
	                document.getElementById("status-" + status).innerText = data[status];
	            }
	        })
	        .catch(error => console.error('Error:', error));
		});
		
		function createMonthlySalesTable(data) {
		    const tableBody = document.getElementById('monthlySalesTableBody');
		    let totalSales = 0;
		    let totalCancelled = 0;

		    data.forEach(item => {
		        const row = tableBody.insertRow();
		        row.insertCell(0).textContent = `${item.month}월`;
		        row.insertCell(1).textContent = `$${item.totalPrice.toLocaleString()}`;
		        row.insertCell(2).textContent = `$${item.cancelledSales.toLocaleString()}`;
		        row.insertCell(3).textContent = `$${(item.totalPrice - item.cancelledSales).toLocaleString()}`;
		        
		        totalSales += item.totalPrice;
		        totalCancelled += item.cancelledSales;
		    });

		    const totalRow = tableBody.insertRow();
		    totalRow.insertCell(0).textContent = '총계';
		    totalRow.insertCell(1).textContent = `$${totalSales.toLocaleString()}`;
		    totalRow.insertCell(2).textContent = `$${totalCancelled.toLocaleString()}`;
		    totalRow.insertCell(3).textContent = `$${(totalSales - totalCancelled).toLocaleString()}`;
		};

		function createMonthlySalesChart(data) {
		    const ctx = document.getElementById('monthlySalesChart').getContext('2d');
		    new Chart(ctx, {
		        type: 'bar',
		        data: {
		            labels: data.map(item => `${item.month}월`),
		            datasets: [{
		                label: '총 매출',
		                data: data.map(item => item.totalPrice),
		                backgroundColor: 'rgba(75, 192, 192, 0.6)'
		            }, {
		                label: '취소된 매출',
		                data: data.map(item => item.cancelledSales),
		                backgroundColor: 'rgba(255, 99, 132, 0.6)'
		            }]
		        },
		        options: {
		            scales: {
		                y: {
		                    beginAtZero: true
		                }
		            }
		        }
		    });
		};
		
    </script>
</head>
<body>
	<div layout:fragment="content" class="d-flex flex-column gap-3 w-100">
		<div>
			<h4 class="mb-3">주문/배송 내역</h4>
			<div class="d-flex justify-content-between gap-5">
				<div class="d-flex gap-2">
					<p>입금대기</p>
					<span id="status-입금대기" class="badge rounded-pill text-bg-info"></span>
				</div>
				<div class="d-flex gap-2">
					<p>결제완료</p>
					<span id="status-결제완료" class="badge rounded-pill text-bg-info"></span>
				</div>
				<div class="d-flex gap-2">
					<p>배송중</p>
					<span id="status-배송중" class="badge rounded-pill text-bg-info"></span>
				</div>
				<div class="d-flex gap-2">
					<p>배송완료</p>
					<span id="status-배송완료" class="badge rounded-pill text-bg-info"></span>
				</div>
				<div class="d-flex gap-2">
					<p>결제취소</p>
					<span id="status-취소" class="badge rounded-pill text-bg-info"></span>
				</div>
			</div>
		</div>
		<div>
			<canvas id="monthlySalesChart"></canvas>
		</div>				
		<div class="d-flex gap-5">
			<div class="w-100">
				<h5>월별 매출</h5>
				<table id="monthlySalesTable" class="table-type-a">
					<colgroup>
						<col width="10%" />
						<col width="*" />
						<col width="25%" />
						<col width="25%" />
					</colgroup>
				    <thead>
				        <tr>
				            <th>월</th>
				            <th>총 매출</th>
				            <th>취소된 매출</th>
				            <th>순 매출</th>
				        </tr>
				    </thead>
				    <tbody id="monthlySalesTableBody"></tbody>
					<!-- <tr th:if="${#lists.isEmpty(list)}">
				        <td colspan="3">----게시물이 없습니다.----</td>
				    </tr> -->
				</table>
			</div>
			<div class="w-100">
				<h5>문의/구매평</h5>
				<table class="table-type-a">
					<colgroup>
						<col width="*" />
						<col width="15%" />
						<col width="30%" />					
					</colgroup>
					<thead>
						<tr>
							<th>제목</th>
							<th>작성자</th>
							<th>평점</th>
						</tr>
					</thead>
						<tbody>
						    <tr th:if="${#lists.isEmpty(list)}">
						        <td colspan="3">----게시물이 없습니다.----</td>
						    </tr>
						    <tr th:unless="${#lists.isEmpty(list)}" th:each="sale, iterStat : ${monthlySales}" th:if="${iterStat.index < 5}">
						        <td th:text="${sale.title}"></td>
						        <td th:text="${sale.writer}"></td>
						        <td th:text="${sale.score}"></td>
						    </tr>
						</tbody>
				</table>
			</div>
		</div>
		<div class="d-flex gap-5">
			<div class="w-100">
				<h5>공지사항</h5>
				<table class="table-type-a">
					<colgroup>
						<col width="10%" />
						<col width="*" />			
						<col width="20%" />
					</colgroup>
					<thead>
                        <tr>
                            <th>No</th>
                            <th>제목</th>
                            <th>날짜</th>
                        </tr>
                    </thead>
                    <tbody>
                    	<tr th:if="${notices == null || notices.totalElements == 0}">
					        <td colspan="3">----게시물이 없습니다.----</td>
					    </tr>
                        <tr th:unless="${notices == null || notices.totalElements == 0}" th:each="notice, iterStat : ${notices.content}" th:if="${iterStat.index < 5}" >
                            <td th:text="${notices.totalElements - (notices.number * notices.size + iterStat.index)}"></td>
                            <td class="title"><a th:href="@{'/announcements/' + ${notice.announcId}}" th:text="${notice.title}"></a></td>
                            <td th:text="${#temporals.format(notice.createdDate, 'yyyy-MM-dd')}"></td>
                        </tr>
                    </tbody>
				</table>
			</div>
			<div class="w-100">
				<h5>Q&A</h5>
				<table class="table-type-a">
					<colgroup>
						<col width="10%" />
						<col width="*" />
						<col width="15%" />
						<col width="20%" />
						<col width="15%" />
						<col width="15%" />
					</colgroup>
					 <thead>
                        <tr>
                            <th>No</th>
                            <th>제목</th>
                            <th>작성자</th>
                            <th>작성일</th>
                            <th>비밀 여부</th>
                            <th>답변 상태</th>
                        </tr>
                    </thead>
                    <tbody>
                     	<tr th:if="${qnas == null || qnas.totalElements == 0}">
					        <td colspan="3">----게시물이 없습니다.----</td>
					    </tr>
                        <tr th:unless="${qnas == null || qnas.totalElements == 0}" th:each="qna, iterStat : ${qnas.content}" th:if="${iterStat.index < 5}">
                            <td th:text="${qnas.totalElements - (qnas.number * qnas.size + iterStat.index)}"></td>
                            <td class="title"><a th:href="@{'/qnas/' + ${qna.qnaId}}" th:text="${qna.title}"></a></td>
                            <td th:text="${qna.userId}"></td>
                            <td th:text="${#temporals.format(qna.createdDate, 'yyyy-MM-dd')}"></td>
                            <td>
                                <span th:if="${qna.isSecret}" class="badge bg-warning">비밀글</span>
                                <span th:if="${!qna.isSecret}" class="badge bg-success">공개</span>
                            </td>
                            <td>
                                <span th:if="${qna.answer != null}" class="badge bg-success">답변 완료</span>
                                <span th:if="${qna.answer == null}" class="badge bg-warning">미답변</span>
                            </td>
                        </tr>
                    </tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>