<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/default}">
<head>
	<title>관리자 인덱스</title>
	<script th:src="@{/js/chart.js}"></script>
	<script>
		document.addEventListener('DOMContentLoaded', function() {
	        // 캔버스 컨텍스트 가져오기
	        const ctx = document.getElementById('myChart').getContext('2d');
	
	        // 라벨 정의
	        const labels = ['January', 'February', 'March', 'April', 'May', 'June', 'July'];
	
	        // 차트 생성
	        new Chart(ctx, {
	            type: 'line',
	            data: {
	                labels: labels,
	                datasets: [{
	                    label: '월 매출',
	                    data: [65, 59, 80, 81, 56, 55, 40],
	                    fill: false,
	                    borderColor: '#0d4dbc',
	                    tension: 0.1
	                }]
	            }
	        });
		});
    </script>
</head>
<body>
	<section layout:fragment="content" class="content-box d-flex side-menu">
		<div class="text-center bg-body-secondary side-nav">
			<h6 class="m-0 py-3 border-bottom border-secondary-subtle text-body-emphasis">
				<a href="auth-index">관리자 메뉴</a>
			</h6>
			<ul class="p-0 text-center">
				<li class="mt-2 text-body-emphasis">
					<a href="javascript: void(0)">회원 관리</a>
				</li>
				<li class="mt-2 text-body-emphasis">
					<a href="javascript: void(0)">게시판 관리</a>
				</li>
				<li class="mt-2 text-body-emphasis">
					<a href="auth-product">상품 관리</a>
				</li>
				<li class="mt-2 text-body-emphasis">
					<a href="auth-order">주문 관리</a>
				</li>
				<li class="mt-2 text-body-emphasis">
					<a href="javascript: void(0)">배너 관리</a>
				</li>
			</ul>
		</div>
		<div class="d-flex flex-column gap-3 w-100">
			<div>
				<h4 class="mb-3">오늘 할일</h4>
				<div class="d-flex justify-content-between gap-5">
					<div class="d-flex gap-2">
						<p>신규주문</p>
						<!-- 하나라도 있을경우 출력 -->
						<span class="badge rounded-pill text-bg-info">1</span>					
					</div>
					<div class="d-flex gap-2">
						<p>취소관리</p>
						<span class="badge rounded-pill text-bg-info"></span>				
					</div>
					<div class="d-flex gap-2">
						<p>반품관리</p>
						<span class="badge rounded-pill text-bg-info">1</span>					
					</div>
					<div class="d-flex gap-2">
						<p>교환관리</p>
						<span class="badge rounded-pill text-bg-info">1</span>					
					</div>
					<div class="d-flex gap-2">
						<p>답변대기문의</p>
						<span class="badge rounded-pill text-bg-info">1</span>					
					</div>
				</div>
			</div>
			<div>
				<canvas id="myChart"></canvas>
			</div>
			<div class="d-flex gap-5">
				<div class="w-100">
					<h5>월별 매출</h5>
					<table class="table-type-a">
						<colgroup>
							<col width="25%" />
							<col width="15%" />
							<col width="*" />
							<col width="10%" />
							<col width="10%" />					
						</colgroup>
						<thead>
							<tr>
								<th>일자</th>
								<th>주문수</th>
								<th>매출액</th>
								<th>문의</th>
								<th>후기</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>2024-12-10</td>
								<td>11</td>
								<td>1,000,000원</td>
								<td>10</td>
								<td>6</td>
							</tr>
							<tr>
								<td>2024-12-10</td>
								<td>20</td>
								<td>2,000,000원</td>
								<td>5</td>
								<td>17</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="w-100">
					<h5>문의/구매평</h5>
					<table class="table-type-a">
						<colgroup>
							<col width="*" />
							<col width="15%" />
							<col width="30%" />					
						</colgroup>
						<thead>
							<tr>
								<th>제목</th>
								<th>작성자</th>
								<th>평점</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>잘 받았습니다.</td>
								<td>유저1</td>
								<td>★★★★☆</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div>
				<h5>테스트 테이블</h5>
				<table class="table-type-a">
					<colgroup>
						<col width="10%" />
						<col width="10%" />
						<col width="30%" />
						<col width="10%" />
						<col width="10%" />
						<col width="10%" />
						<col width="10%" />
						<col width="10%" />						
					</colgroup>
					<thead>
						<tr>
							<th>상품 아이디</th>
							<th>유저 아이디</th>
							<th>카테고리 아이디</th>
							<th>권한 식별자</th>
							<th>가격</th>
							<th>상품명</th>
							<th>재고</th>
							<th>등록일</th>
						</tr>
					</thead>
					<tbody>
					    <tr th:if="${#lists.isEmpty(list)}">
					        <td colspan="8">----게시물이 없습니다.----</td>
					    </tr>
					    <tr th:each="item : ${list}" th:unless="${#lists.isEmpty(list)}">
					        <td th:text="${item.productId}"></td>
					        <td th:text="${item.userId}"></td>
					        <td th:text="${item.categoryId}"></td>
					        <td th:text="${item.authId}"></td>
					        <td th:text="${item.pPrice}"></td>
					        <td th:text="${item.pName}"></td>
					        <td th:text="${item.pStock}"></td>
					        <td th:text="${item.pEnroll}"></td>
					    </tr>
					</tbody>
				</table>
			</div>
			<div>기타 등등...</div>
		</div>
	</section>
</body>
</html>