<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/auth-layout}">
<head>
	<title>상품 관리 페이지</title>
	<script>
		const categoryData = JSON.parse(/*[[${categoryDataJson}]]*/ '[]');
	    
		document.addEventListener('DOMContentLoaded', function() {
		    //카테고리 검색
		    const category1 = document.getElementById('category1');
		    const category2 = document.getElementById('category2');
		    const category3 = document.getElementById('category3');
		    const searchButton = document.getElementById('searchButton');
		
		    console.log("categoryData: "+categoryData);
		    const structuredCategories = {};
	        if (Array.isArray(categoryData)) {
	            categoryData.forEach(category => {
		        const { categoryId, parentId, categoryLevel, categoryName } = category;
		        if (!structuredCategories[parentId]) {
		            structuredCategories[parentId] = {};
		        }
		        structuredCategories[parentId][categoryId] = categoryName;
	            });
	        } else {
	            console.error('categoryData is not an array');
	        }

		    category1.addEventListener('change', function() {
		        const selectedCat1 = this.value;
		        populateCategory(category2, structuredCategories[selectedCat1] || {});
		        category3.innerHTML = '<option value="">3차 카테고리</option>';
		    });
		
		    category2.addEventListener('change', function() {
		        const selectedCat1 = category1.value;
		        const selectedCat2 = this.value;
		        populateCategory(category3, categoryData[selectedCat1][selectedCat2] || {});
		    });
		
		    searchButton.addEventListener('click', function() {
		        const cat1Value = category1.value;
		        const cat2Value = category2.value;
		        const cat3Value = category3.value;
		
		        let searchUrl = '/auth-product?';
		        if (cat3Value) searchUrl += `category3=${cat3Value}`;
		        else if (cat2Value) searchUrl += `category2=${cat2Value}`;
		        else if (cat1Value) searchUrl += `category1=${cat1Value}`;
		
		        window.location.href = searchUrl;
		    });

            function populateCategory(selectElement, options) {
                selectElement.innerHTML = `<option value="">${selectElement.getAttribute('aria-label')}</option>`;
                for (const [id, name] of Object.entries(options)) {
                    const option = document.createElement('option');
                    option.value = id;
                    option.textContent = name;
                    selectElement.appendChild(option);
                }
            }
	        
			//수정
		    const updateButtons = document.querySelectorAll('.update-product');
		    updateButtons.forEach(button => {
		        button.addEventListener('click', function() {
		            const productId = this.getAttribute('data-product-id');
		            updateProduct(productId);
		        });
		    });
		    
		    
		    function updateProduct(productId) {
		        const row = document.querySelector(`tr[data-product-id="${productId}"]`);
		        const stock = parseInt(row.querySelector('.stock-input').value, 10);
		        const pReportstock = parseInt(row.querySelector('.preportstock-input').value, 10);
		        const saleStatus = row.querySelector('.sale-status').checked ? 'Y' : 'N';
		        const pSoldout = row.querySelector('.out-of-stock').checked ? 'Y' : 'N';  // 품절 상태 추가

		        fetch('/product/update', {
		            method: 'POST',
		            headers: {
		                'Content-Type': 'application/json',
		            },
		            body: JSON.stringify({
		                productId, stock, pReportstock, saleStatus, pSoldout
		            })
		        })
		        .then(response => {
		            if (!response.ok) {
		                throw new Error('Network response was not ok');
		            }
		            return response.json();
		        })
		        .then(data => {
		            if (data.success) {
		                alert('상품 정보가 성공적으로 업데이트되었습니다.');
		                // 필요하다면 여기서 페이지를 새로고침하거나 UI를 업데이트합니다.
		            } else {
		                throw new Error(data.message || '상품 정보 업데이트에 실패했습니다.');
		            }
		        })
		        .catch(error => {
		            console.error('Error:', error);
		            alert('오류가 발생했습니다: ' + error.message);
		        });
		    }

		});
		
		function deleteProduct(productId) {
	        if (confirm('정말로 이 상품을 삭제하시겠습니까?')) {
	            fetch(`/product/delete/${productId}`, {
	                method: 'DELETE',
	            })
	            .then(response => response.json())
	            .then(data => {
	                if (data.success) {
	                    alert(data.message);
	                    location.reload(); // 페이지 새로고침
	                } else {
	                    alert(data.message);
	                }
	            })
	            .catch(error => {
	                console.error('Error:', error);
	                alert('상품 삭제 중 오류가 발생했습니다.');
	            });
	        }
	    }

	</script>
</head>
<body>
	<div layout:fragment="content" class="d-flex flex-column gap-3 w-100">
		<h5>상품재고관리</h5>
		<div class="d-flex">
		    <select id="category1" name="category1">
		        <option value="">1차 카테고리 선택</option>
		       <option th:each="category : ${allCategories}" 
				        th:if="${category.categoryLevel == 1}"
				        th:value="${category.categoryId}" 
				        th:text="${category.categoryName}">
				</option>
		    </select>
		    
		    <select id="category2" name="category2">
		        <option value="">2차 카테고리 선택</option>
		        <option th:each="category : ${allCategories}" 
		                th:if="${category.categoryLevel == 2 && category.parentId == category1}"
		                th:value="${category.categoryId}" 
		                th:text="${category.categoryName}">
		        </option>
		    </select>
		
		    <select id="category3" name="category3">
		        <option value="">3차 카테고리 선택</option>
		        <option th:each="category : ${allCategories}" 
		                th:if="${category.categoryLevel == 3 && category.parentId == category2}"
		                th:value="${category.categoryId}" 
		                th:text="${category.categoryName}">
		        </option>
		    </select>
		    <button id="searchButton" class="btn btn-outline-secondary" type="button">검색</button>
		</div>
		<div>
			<table class="table-type-a">
				<colgroup>
					<col width="8%" />
					<col width="8%" />
					<col width="*" />
					<col width="8%" />
					<col width="8%" />
					<col width="8%" />
					<col width="8%" />
					<col width="8%" />
					<col width="8%" />
					<col width="8%" />
					<col width="10%" />
				</colgroup>
				<thead>
					<tr>
						<th>상품코드</th>
						<th>상품이미지</th>
						<th>상품명</th>
						<th>창고재고</th>
						<th>주문대기</th>
						<th>가재고</th>
						<th>재고수정</th>
						<th>통보수량</th>
						<th>판매</th>
						<th>품절</th>
						<th>관리</th>
					</tr>
				</thead>
				<!-- TODO: 주문수량 가져오기, 재고-주문수량=가재고, 재고 수정 반영, 통보수량 상품의 재고가 통보수량보다 작을 때 쇼핑몰 현황 재고부족상품에 표시됩니다,
				 판매 품절 재입고 알람 필요 없는 체크박스 삭제 -->
				<tbody>
				    <tr th:each="product : ${products}" th:attr="data-product-id=${product.productId}">
				        <td th:text="${product.productId}"></td>
				        <td><img th:src="${product.imageUrl}" style="width:60px;height:60px;" /></td>
				        <td th:text="${product.pName}"></td>
				        <td th:text="${product.pStock}"></td>
				        <td th:text="${product.orderWaiting}"></td>
				        <td th:text="${product.availableStock}"></td>
				        <td>
				            <input type="number" th:value="${product.pStock}" class="form-control stock-input" th:attr="data-product-id=${product.productId}" />
				        </td>
				        <td>
				            <input type="number" th:value="${product.pReportstock}" class="form-control preportstock-input" th:attr="data-product-id=${product.productId}" />
				        </td>
				        <td>
				            <div class="form-check">
				                <input class="form-check-input sale-status" type="checkbox" th:checked="${product.pSale == 'Y'}" th:attr="data-product-id=${product.productId}" />
				            </div>
				        </td>
							<td>
							    <div class="form-check">
							        <input class="form-check-input out-of-stock" type="checkbox" th:checked="${product.pSoldout == 'Y'}" th:attr="data-product-id=${product.productId}" />
							    </div>
							</td>
				        <td>
				            <div class="d-flex">
				                <button type="button" class="btn btn-primary update-product" th:data-product-id="${product.productId}">수정</button>
				                <button type="button" class="btn btn-danger" th:onclick="deleteProduct([[${product.productId}]])">삭제</button>									
				            </div>
				        </td>
				    </tr>
				</tbody>
			</table>
			<div class="d-flex justify-content-end gap-3">
				<!-- <button type="button" class="btn btn-primary">일괄수정</button> -->
				<button type="button" class="btn btn-secondary" onclick="location.href='auth-product-insert'">상품등록</button>
			</div>
			<nav aria-label="Page navigation" th:if="${totalPages > 1}">
			    <ul class="pagination justify-content-center">
			        <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
			            <a class="page-link" th:href="@{/auth-product(page=${currentPage - 1})}" aria-label="Previous">
			                <span aria-hidden="true">&laquo;</span>
			            </a>
			        </li>
			        <li class="page-item" th:each="pageNum : ${#numbers.sequence(0, totalPages - 1)}" 
			            th:classappend="${pageNum == currentPage} ? 'active'">
			            <a class="page-link" th:href="@{/auth-product(page=${pageNum})}" th:text="${pageNum + 1}"></a>
			        </li>
			        <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
			            <a class="page-link" th:href="@{/auth-product(page=${currentPage + 1})}" aria-label="Next">
			                <span aria-hidden="true">&raquo;</span>
			            </a>
			        </li>
			    </ul>
			</nav>
		</div>
	</div>
</body>
</html>