<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>default layout</title>
	<link rel="stylesheet" th:href="@{/css/reset.css}" />
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<link rel="stylesheet" th:href="@{/css/announcement.css}" /> <!-- 공지사항 스타일 추가 -->

	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/qna.js}"></script>
	<script th:src="@{/js/main.js}"></script> <!-- main, qna.js 파일 추가 -->
	<script th:if="${pageType == 'cooler'}" th:src="@{/js/product/coolerCategoryFilter.js}"></script> <!-- coolerCategoryFilter.js 파일추가 -->
	<script th:if="${pageType == 'cpu'}" th:src="@{/js/product/cpuCategoryFilter.js}"></script> <!-- cpuCategoryFilter.js 파일추가 -->
	<script th:if="${pageType == 'mainboard'}" th:src="@{/js/product/mainboardCategoryFilter.js}"></script> <!-- mainboardCategoryFilter.js 파일추가 -->
	<script th:if="${pageType == 'memory'}" th:src="@{/js/product/memoryCategoryFilter.js}"></script> <!-- memoryCategoryFilter.js 파일추가 -->
	<script th:if="${pageType == 'graphicCard'}" th:src="@{/js/product/graphicCardCategoryFilter.js}"></script> <!-- graphicCardCategoryFilter.js 파일추가 -->
	<script th:if="${pageType == 'ssd'}" th:src="@{/js/product/ssdCategoryFilter.js}"></script> <!-- ssdCategoryFilter.js 파일추가 -->
	<script th:if="${pageType == 'hdd'}" th:src="@{/js/product/hddCategoryFilter.js}"></script> <!-- hddCategoryFilter.js 파일추가 -->
	<script th:if="${pageType == 'case'}" th:src="@{/js/product/caseCategoryFilter.js}"></script> <!-- caseCategoryFilter.js 파일추가 -->
	<script th:if="${pageType == 'power'}" th:src="@{/js/product/powerCategoryFilter.js}"></script> <!-- powerCategoryFilter.js 파일추가 -->
</head>
<body>
	<!-- 각 레이아웃 별로 하단 태그와 동일한 태그 사용 -->
    <header th:replace="~{fragments/header :: header}"></header>
    
    <!-- 사용예시 example.html 참조 -->
    <section layout:fragment="content">
        <!-- 각 페이지의 컨텐츠가 여기에 들어갑니다 -->
    </section>
    
    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>