<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>페이지 레이아웃 예시 페이지</title>
</head>
<body>
	<header>
		<div class="d-flex justify-content-end pe-5 bg-dark">
			<div class="p-2">
				<a class="nav-link text-light" aria-current="page" href="#">마이페이지</a>
			</div>
			<div class="p-2">
				<a class="nav-link text-light" href="#">로그인</a>
			</div>
		</div>
		<div class="position-relative d-flex justify-content-center py-5">
			<!-- 로고 -->
			<div class="position-absolute logo-box">
	          <a href="/" class="d-block w-100">
	            <img src="/images/logo.png" alt="Logo" width="140" height="100">
	          </a>
			</div>
	        <!-- 검색바 -->
	        <form class="w-50" role="search">
	          <input type="search" class="form-control" placeholder="검색어를 입력하세요." aria-label="Search">
	        </form>			
		</div>
		<!-- 네비게이션바 -->
		<nav class="d-flex justify-content-between position-relative text-center main-nav">
			<div class="nav-col">
				<a href="javascript: void(0)" class="nav-main-depth text-black">pc주요부품</a>
				<div class="position-absolute nav-sub-depth">
					<!-- 서브 뎁스는 3개씩 묶어서 추가 -->
					<div class="d-flex flex-column row-gap-5 nav-sub-depth-col">
						<a href="javascript: void(0)" class="text-black">pc주요부품1</a>
						<a href="javascript: void(0)" class="text-black">pc주요부품2</a>
						<a href="javascript: void(0)" class="text-black">pc주요부품3</a>
					</div>
					<div class="d-flex flex-column row-gap-5 nav-sub-depth-col">
						<a href="javascript: void(0)" class="text-black">pc주요부품4</a>
						<a href="javascript: void(0)" class="text-black">pc주요부품5</a>
						<a href="javascript: void(0)" class="text-black">pc주요부품6</a>
					</div>
				</div>
			</div>
			<div class="nav-col">
				<a href="javascript: void(0)" class="nav-main-depth text-black">모니터</a>
				<div class="position-absolute nav-sub-depth">
					<div class="d-flex flex-column row-gap-5 nav-sub-depth-col">
						<a href="javascript: void(0)" class="text-black">모니터1</a>
						<a href="javascript: void(0)" class="text-black">모니터2</a>
						<a href="javascript: void(0)" class="text-black">모니터3</a>
					</div>
				</div>
			</div>
			<div class="nav-col">
				<a href="javascript: void(0)" class="nav-main-depth text-black">키보드</a>
				<div class="position-absolute nav-sub-depth">
					<div class="d-flex flex-column row-gap-5 nav-sub-depth-col">
						<a href="javascript: void(0)" class="text-black">키보드1</a>
						<a href="javascript: void(0)" class="text-black">키보드2</a>
						<a href="javascript: void(0)" class="text-black">키보드3</a>
					</div>
				</div>
			</div>
			<div class="nav-col">
				<a href="javascript: void(0)" class="nav-main-depth text-black">마우스</a>
				<div class="position-absolute nav-sub-depth">
					<div class="d-flex flex-column row-gap-5 nav-sub-depth-col">
						<a href="javascript: void(0)" class="text-black">마우스1</a>
						<a href="javascript: void(0)" class="text-black">마우스2</a>
						<a href="javascript: void(0)" class="text-black">마우스3</a>
					</div>
				</div>
			</div>
			<div class="nav-col">
				<a href="javascript: void(0)" class="nav-main-depth text-black">사운드</a>
				<div class="position-absolute nav-sub-depth">
					<div class="d-flex flex-column row-gap-5 nav-sub-depth-col">
						<a href="javascript: void(0)" class="text-black">사운드1</a>
						<a href="javascript: void(0)" class="text-black">사운드2</a>
						<a href="javascript: void(0)" class="text-black">사운드3</a>
					</div>
				</div>
			</div>
			<div class="nav-col">
				<a href="javascript: void(0)" class="nav-main-depth text-black">게시판</a>
				<div class="position-absolute nav-sub-depth">
					<div class="d-flex flex-column row-gap-5 nav-sub-depth-col">					
						<a href="javascript: void(0)" class="text-black">게시판1</a>
						<a href="javascript: void(0)" class="text-black">게시판2</a>
						<a href="javascript: void(0)" class="text-black">게시판3</a>
					</div>
				</div>
			</div>
		</nav>
	</header>
	<main>
		<!-- 내부 컨텐츠 영역 section 별로 한 구역을 나눔 -->
		<section class="content-box">
			
		</section>
		<section class="content-box">
			
		</section>
	</main>
	<footer>
		<div class="d-flex align-items-center justify-content-center column-gap-5">
			<div class="d-block">
				<img src="/images/footerlogo.jpg" alt="Footer Logo" width="140" height="100">
			</div>
			<div class="w-50">
				<p><strong>(주)빌드이지</strong></p>
				<p>주소: 서울특별시 강남구 언주로 508 14층 (역삼동, 서울상록빌딩) 대표: 김기현, 나경수, 이미은, 정병국, 황혜령</p>
				<p>사업자번호: 104-81-53114 | 통신판매업: 제2016-서울강남-00151호 | 부가통신사업: 제112233호 <a href="#">[사업자정보확인]</a></p>
				<p>(주)빌드이지는 상품판매와 직접적인 관련이 없으며, 모든 상거래의 책임은 구매자와 판매자에게 있습니다. 이에 대해 (주)빌드이지는 일체의 책임을 지지 않습니다. 본사에 등록된 모든 광고와 저작권 및 법적책임은 자료제공사 (또는 글쓴이)에게 있으므로 본사는 광고에 대한 책임을 지지 않습니다.</p>
				<p class="text-muted small">Copyright © buildeasy Co., Ltd. All Rights Reserved.</p>
			</div>
		</div>
	</footer>
</body>
</html>