<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title layout:fragment="title">Faqs List</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container mt-5">
            <h1>자주묻는질문</h1>

            <!-- 게시글이 없을 경우 메시지 출력 -->
            <div th:if="${page == null || page.totalElements == 0}" class="alert alert-info mt-3">
                <p>등록된 글이 없습니다.</p>
            </div>

            <!-- 게시글 목록 출력 -->
            <div th:if="${page != null && page.totalElements > 0}">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>제목</th>
                            <th>날짜</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="faq, iterStat : ${page.content}">
                            <!-- 최신 순서를 기준으로 번호 계산 -->
                            <td th:text="${page.totalElements - (page.number * page.size + iterStat.index)}"></td>
                            <td>
                                <a th:href="@{'/faqs/' + ${faq.faqId}}" th:text="${faq.title}"></a>
                            </td>
							<td th:text="${#temporals.format(faq.createdDate, 'yyyy-MM-dd')}"></td>

                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- 작성하기 버튼 -->
            <div class="d-flex justify-content-end mt-3 mb-5">
				<!-- 작성 버튼 관리자만 노출 -->
				<a th:if="${loggedInUser != null and loggedInUser.authId == 2}" href="/faqs/new" class="btn btn-primary">작성하기</a>
            </div>

            <!-- 페이지네이션 -->
            <nav th:if="${page != null && page.totalElements > 0}" class="d-flex justify-content-center mt-4">
                <ul class="pagination">
                    <!-- Previous 버튼 -->
                    <li th:classappend="${page.hasPrevious()} ? '' : 'disabled'" class="page-item">
                        <a th:href="@{/faqs(page=${page.number - 1})}" class="page-link"><</a>
                    </li>

                    <!-- 페이지 번호 -->
                    <li th:each="i : ${#numbers.sequence(0, page.totalPages > 0 ? page.totalPages - 1 : 0)}"
                        th:classappend="${i == page.number} ? 'active'" class="page-item">
                        <a th:href="@{/faqs(page=${i})}" th:text="${i + 1}" class="page-link"></a>
                    </li>

                    <!-- Next 버튼 -->
                    <li th:classappend="${page.hasNext()} ? '' : 'disabled'" class="page-item">
                        <a th:href="@{/faqs(page=${page.number + 1})}" class="page-link">></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</body>
</html>
