@charset "UTF-8";

.my-title {
    cursor: pointer;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #007bff;
    font-weight: bold;
}

.my-title:hover {
    color: #0056b3;
    text-decoration: underline; /* 제목 밑줄 추가 */
}

.cancelled {
    text-decoration: line-through;
}

.my-content {
    position: relative;
}

.my-content td {
    word-wrap: break-word; /* 자동 줄바꿈 */
    word-break: break-all;
    white-space: normal;
}

/* 상세내용이 내 목록의 오른쪽에 뜨게 */
#entityDetailContainer {
    position: absolute;
    top: 0;
    left: 100%;
    width: 600px;
    background-color: #fff;
    padding: 30px;
    display: none;
}

#myTabContent .tab-pane {
    display: none;
    height: 0;
    overflow: hidden;
}

#myTabContent .tab-pane.show {
    display: block; /* 활성화된 탭만 보이게*/
    height: auto;
}