<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="authSideNav" class="text-center bg-body-secondary side-nav">
		<h6 class="m-0 py-3 border-bottom border-secondary-subtle text-body-emphasis">
			<a href="auth-index">관리자 메뉴</a>
		</h6>
		<ul class="p-0 text-center">
			<li class="mt-2 text-body-emphasis">
				<a href="/auth-member">회원 관리</a>
			</li>
			<li class="mt-2 text-body-emphasis">
				<a href="javascript: void(0)">게시판 관리</a>
			</li>
			<li class="mt-2 text-body-emphasis">
				<a href="/auth-product">상품 관리</a>
			</li>
			<li class="mt-2 text-body-emphasis">
				<a href="/auth-order">주문 관리</a>
			</li>
			<li class="mt-2 text-body-emphasis">
				<a href="/auth-category">카테고리 관리</a>
			</li>
		</ul>
	</div>
</body>
</html>