<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerFragment">
    <meta charset="UTF-8">
    <title>EasyBuild2</title>
</head>
<body>
    <header th:fragment="header" class="border-bottom border-tertiary">
  		<div class="d-flex justify-content-end pe-5 bg-dark">
			<div class="p-2" th:if="${isAdmin}">
			    <a class="nav-link text-light" href="/auth-index">관리자 페이지</a>
			</div>
			<div class="p-2">
			    <a class="nav-link text-light" href="/membermy">마이페이지</a>
			</div>
			<div class="p-2" th:if="${session.dto != null}">
			    <a class="nav-link text-light" href="/member/logout">로그아웃</a>
			</div>
			<div class="p-2" th:if="${session.dto == null}">
			    <a class="nav-link text-light" href="/loginform">로그인</a>
			</div>
		</div>
		<div class="position-relative d-flex justify-content-center py-5">
			<!-- 로고 -->
			<div class="position-absolute logo-box">
	          <a th:href="@{/main}" class="d-block w-100">
	            <img th:src="@{/images/logo.png}" alt="Logo" width="140" height="100">
	          </a>
			</div>
	        <!-- 검색바 -->
	        <form class="w-50" role="search" th:action="@{/search}" method="get">
	          <input type="search" class="form-control" placeholder="검색어를 입력하세요." aria-label="Search">
	        </form>			
		</div>
		<!-- 네비게이션바 -->
		<nav class="d-flex justify-content-between">
			<ul class="position-relative w-100 text-center main-nav">
				<li class="nav-col">
					<a href="javascript: void(0)" class="nav-main-depth">pc주요부품</a>
					<ul class="nav-sub-depth">
						<li class="d-flex justify-content-center justify-content-center nav-sub-depth-col">
							<a href="javascript: void(0)">pc주요부품1</a>
						</li>
						<li class="d-flex justify-content-center nav-sub-depth-col">
							<a href="javascript: void(0)">pc주요부품2</a>
						</li>
						<li class="d-flex justify-content-center nav-sub-depth-col">
							<a href="javascript: void(0)">pc주요부품3</a>
						</li>
						<li class="d-flex justify-content-center nav-sub-depth-col">
							<a href="javascript: void(0)">pc주요부품4</a>
						</li>
						<li class="d-flex justify-content-center nav-sub-depth-col">
							<a href="javascript: void(0)">pc주요부품5</a>
						</li>
						<li class="d-flex justify-content-center nav-sub-depth-col">
							<a href="javascript: void(0)">pc주요부품6</a>
						</li>
					</ul>
				</li>
				<li class="nav-col">
					<a href="javascript: void(0)" class="nav-main-depth">모니터</a>
					<ul class="nav-sub-depth">
						<li class="d-flex justify-content-center nav-sub-depth-col">
							<a href="javascript: void(0)">모니터1</a>
						</li>
						<li class="d-flex justify-content-center nav-sub-depth-col">
							<a href="javascript: void(0)">모니터2</a>
						</li>
						<li class="d-flex justify-content-center nav-sub-depth-col">
							<a href="javascript: void(0)">모니터3</a>
						</li>
					</ul>
				</li>
				<li class="nav-col">
					<a href="javascript: void(0)" class="nav-main-depth">키보드</a>
					<ul class="nav-sub-depth">
						<li class="d-flex justify-content-center nav-sub-depth-col">
							<a href="javascript: void(0)">키보드1</a>
						</li>
						<li class="d-flex justify-content-center nav-sub-depth-col">
							<a href="javascript: void(0)">키보드2</a>
						</li>
						<li class="d-flex justify-content-center nav-sub-depth-col">
							<a href="javascript: void(0)">키보드3</a>
						</li>
					</ul>
				</li>
				<li class="nav-col">
					<a href="javascript: void(0)" class="nav-main-depth">마우스</a>
					<ul class="nav-sub-depth">
						<li class="d-flex justify-content-center nav-sub-depth-col">
							<a href="javascript: void(0)">마우스1</a>
						</li>
						<li class="d-flex justify-content-center nav-sub-depth-col">
							<a href="javascript: void(0)">마우스2</a>
						</li>
						<li class="d-flex justify-content-center nav-sub-depth-col">
							<a href="javascript: void(0)">마우스3</a>
						</li>
					</ul>
				</li>
				<li class="nav-col">
					<a href="javascript: void(0)" class="nav-main-depth">사운드</a>
					<ul class="nav-sub-depth">
						<li class="d-flex justify-content-center nav-sub-depth-col">
							<a href="javascript: void(0)">사운드1</a>
						</li>
						<li class="d-flex justify-content-center nav-sub-depth-col">
							<a href="javascript: void(0)">사운드2</a>
						</li>
						<li class="d-flex justify-content-center nav-sub-depth-col">
							<a href="javascript: void(0)">사운드3</a>
						</li>
					</ul>
				</li>
				<li class="nav-col">
					<a href="javascript: void(0)" class="nav-main-depth">게시판</a>
					<ul class="nav-sub-depth">
						<li class="d-flex justify-content-center nav-sub-depth-col">					
							<a th:href="@{/announcements}">공지사항</a>
						</li>
						<li class="d-flex justify-content-center nav-sub-depth-col">					
							<a th:href="@{/faqs}">자주묻는질문</a>
						</li>
						<li class="d-flex justify-content-center nav-sub-depth-col">					
							<a th:href="@{/qnas}">QnA</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
    </header>
</body>
</html>