<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title layout:fragment="title">Announcements List</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container mt-5">
            <h1>공지사항</h1>
			
			<!-- 게시글이 없을 경우 메시지 출력 -->
			<div th:if="${page == null || page.totalElements == 0}" class="alert alert-info mt-3">
			    <p>등록된 글이 없습니다.</p>
			</div>
			<div th:if="${page != null && page.totalElements > 0}">
	            <table class="table table-striped">
	                <thead>
	                    <tr>
	                        <th>No</th>
	                        <th>제목</th>
	                        <th>날짜</th>
	                    </tr>
	                </thead>
					<tbody>
					    <tr th:each="announcement, iterStat : ${page.content}">
					        <td th:text="${page.totalElements - (page.number * page.size + iterStat.index)}"></td>
					        <td>
					            <a th:href="@{'/announcements/' + ${announcement.announcId}}" th:text="${announcement.title}"></a>
					        </td>
					        <td th:text="${#temporals.format(announcement.createdDate, 'yyyy-MM-dd')}"></td>
	
					    </tr>
					</tbody>
	            </table>
			</div>
			<div class="d-flex justify-content-end mt-3 mb-5">
				<!-- 로그인된 사용자와 관리자 권한 확인 -->
				<a th:if="${loggedInUser != null and loggedInUser.authId == 2}" 
				   th:href="@{/announcements/new}" 
				   class="btn btn-primary">공지사항 작성</a>

			</div>
			
			<!-- 페이지네이션 -->
			<nav th:if="${page != null}" class="d-flex justify-content-center mt-4">
			    <ul class="pagination">
			        <li th:classappend="${page.hasPrevious()} ? '' : 'disabled'" class="page-item">
			            <a th:href="@{/announcements(page=${page.number - 1})}" class="page-link"><</a>
			        </li>
			        <li th:each="i : ${#numbers.sequence(0, page.totalPages > 0 ? page.totalPages - 1 : 0)}"
			            th:classappend="${i == page.number} ? 'active'" class="page-item">
			            <a th:href="@{/announcements(page=${i})}" th:text="${i + 1}" class="page-link"></a>
			        </li>
			        <li th:classappend="${page.hasNext()} ? '' : 'disabled'" class="page-item">
			            <a th:href="@{/announcements(page=${page.number + 1})}" class="page-link">></a>
			        </li>
			    </ul>
			</nav>
        </div>
    </div>
</body>
</html>
